[user]
   name = Sérgio Souza
   email = sergio.lcs@gmail.com
[color]
   branch = auto
   diff = auto
   status = auto
[color "branch"]
   current = yellow reverse
   local = yellow
   remote = green
[color "diff"]
   meta = yellow bold
   frag = magenta bold
   old = red bold
   new = green bold
[color "status"]
   added = yellow
   changed = green
   untracked = cyan
[alias]
   lg = log --graph --pretty=format:'%Cred%h - %Cblue %s %Cgreen(%cr - %cD)%Creset - %an - %ae - %Cred%H' --abbrev-commit --date=relative
   cp = log -p HEAD..origin/master
   list = log --name-only --pretty=format:"" HEAD..origin/master
   ci = commit
   st = status
   br = branch
   co = checkout
